{% extends "base.html" %}

{% block content %}
    <h1>Program Generator</h1>
    <div style="class:column">
        <h3>Enter your best set</h3>
            <form method="POST" action="/">
                {{ form.csrf_token }}
                {{ form.weight.label }} {{ form.weight(size=10) }}
                {{ form.reps.label }} {{ form.reps(size=10) }}
                {{ form.workout.label }} {{ form.workout }}
                {{ form.submit }}
            </form>
    </div>
{% endblock %}

