{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <body>
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="active"><a href="#1rmtab" role="tab" data-toggle="tab">Calculator</a></li>
        <li><a href="#rpetab" role="tab" data-toggle="tab">RPE Info</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active container" id="1rmtab">
            <h1>One Rep Max Calc</h1>
            <p><strong>WARNING:</strong> As the number of reps increase, the calculation accuracy
                <strong><em>decreases!</em></strong></p>
        <p></p>
        {% if one_rm %}
            <div class="container"><h3>Your calculated One Rep Max is: {{ one_rm }}</h3></div>
        {% endif %}

        {{ wtf.quick_form(form) }}
            {% if calc %}
                <table class="table table-sm">
                    <thead>
                    <th scope="col">Reps</th>
                    <th scope="col">Weight</th>
                    </thead>
                    <tbody>
                    {% for i in range(1, 21) %}
                        <tr>
                            <th scope="row">{{ i }}</th>
                            <td>{{ calc.max_reps[i] * one_rm }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="tab-pane container" id="rpetab">
            <img src="../static/img/rpe_table.png" class="img-responsive"
                 alt="RPE Table, credit: Mike Tuchscherer, reactivetrainingsystems.com">
            <img src="../static/img/rpe_flow_chart.jpg" class="img-responsive"
                 alt="RPE Flow Chart, credit: Mike Tuchscherer, reactivetrainingsystems.com">
        </div>

    </div>
{% endblock %}
</body>