{% extends "base.html" %}

{% block content %}
    {% for day in days %}
        <table class="table table-bordered table-dark">
            <br/>
            <h2>Day {{ days.index(day) + 1 }}</h2>
            <thead>
            <tr>
                <th scope="col">Set</th>
                <th scope="col">Weight</th>
                <th scope="col">Reps</th>
            </thead>
            {% for set in day %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ set[0] }}</td>
                    <td>{{ set[1] }}</td>
                </tr>

            {% endfor %}
        </table>
    {% endfor %}

{% endblock %}