{% extends "base.html" %}

{% block content %}
    <br/>
    <h2>Day 1</h2>
    <br/>
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Set</th>
      <th scope="col">Weight</th>
      <th scope="col">Reps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ day1[0][0] }}</td>
      <td>{{ day1[0][1] }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ day1[1][0] }}</td>
      <td>{{ day1[1][1] }}</td>
    </tr>
           <tr>
      <th scope="row">3</th>
      <td>{{ day1[2][0] }}</td>
      <td>{{ day1[2][1] }}</td>
    </tr>
  </tbody>
    </table>

        <br/>
    <h2>Day 2</h2>
    <br/>
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Set</th>
      <th scope="col">Weight</th>
      <th scope="col">Reps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ day2[0][0] }}</td>
      <td>{{ day2[0][1] }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ day2[1][0] }}</td>
      <td>{{ day2[1][1] }}</td>
    </tr>
           <tr>
      <th scope="row">3</th>
      <td>{{ day2[2][0] }}</td>
      <td>{{ day2[2][1] }}</td>
    </tr>
  </tbody>
    </table>

        <br/>
    <h2>Day 3</h2>
    <br/>
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Set</th>
      <th scope="col">Weight</th>
      <th scope="col">Reps</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ day3[0][0] }}</td>
      <td>{{ day3[0][1] }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ day3[1][0] }}</td>
      <td>{{ day3[1][1] }}</td>
    </tr>
           <tr>
      <th scope="row">3</th>
      <td>{{ day3[2][0] }}</td>
      <td>{{ day3[2][1] }}</td>
    </tr>
               <tr>
      <th scope="row">4</th>
        <td>{{ day3[3][0] }}</td>
      <td>{{ day3[3][1] }}</td>
               </tr>
               <tr>
      <th scope="row">5</th>
      <td>{{ day3[4][0] }}</td>
      <td>{{ day3[4][1] }}</td>
               </tr>
  </tbody>
    </table>

{#      <tr>#}
{#      <th scope="row">2</th>#}
{#      <td>{{ day2[0][0] }}</td>#}
{#      <td>{{ day2[0][1] }}</td>#}
{#      <td>{{ day2[1][0] }}</td>#}
{#      <td>{{ day2[1][1] }}</td>#}
{#      <td>{{ day2[2][0] }}</td>#}
{#      <td>{{ day2[2][1] }}</td>#}
{#    </tr>#}
{#        <tr>#}
{#      <th scope="row">3</th>#}
{#      <td>{{ day3[0][0] }}</td>#}
{#      <td>{{ day3[0][1] }}</td>#}
{#      <td>{{ day3[1][0] }}</td>#}
{#      <td>{{ day3[1][1] }}</td>#}
{#      <td>{{ day3[2][0] }}</td>#}
{#      <td>{{ day3[2][1] }}</td>#}
{#      <td>{{ day3[3][0] }}</td>#}
{#      <td>{{ day3[3][1] }}</td>#}
{#      <td>{{ day3[4][0] }}</td>#}
{#      <td>{{ day3[4][1] }}</td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}
{% endblock %}